<!DOCTYPE html>
<html translate="no">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Multi-Lemm Logistics</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/pricing.css">
    <link rel="icon" type="image/png" href="img/logo.png" />
    <link rel="stylesheet" href="css/dark-theme.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/darktoggle.js" async></script>
    <script src="js/language.js"></script>
    <meta name="google" content="notranslate">
    <link rel="stylesheet" href="css/dropdown.css">
    <!--<script src="/js/contracts.js" async></script>-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalizer.css">
    <link rel="stylesheet" href="css/homepage.css">
    <link rel="stylesheet" href="css/scroll.css">
    <link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.12.1/sp-2.0.1/sl-1.4.0/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js" type="text/javascript"></script>
    <script src="/js/pricing.js" ></script>
    <link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1ee9481ced.js" crossorigin="anonymous"></script>


</head>

<body>
  <header style="position: relative;">
      <div id='navContainer' class='navContainer' style="background-color: grey;">
          <h3 class='title'><a href='/'><img class="mainLogo" src="img/logo.png" style="height: 29px; width: 29px;vertical-align: text-top;"> Multi-Lemm Logistics</a></h3>
          <div style='float:right'>
            <ul class='navList'>
              <li class='navLink'><a href="/"><span lang="en">Home</span><span lang="zh" style="display: none;">主页</span><span lang="jp" style="display: none;">ホーム</span><span lang="da" style="display: none;">Hjem</span></a></li>
                    <li class='navLink'><a href="/jfcalculator"><span lang="en">JF Calculator</span><span lang="zh" style="display: none;">跳货计算器</span><span lang="jp" style="display: none;">JF輸送計算</span><span lang="da" style="display: none;">JF lommeregner</span></a></li>
                    <li class='navLink'><a href="/perjumpcalculator"><span lang="en">BR/DST/Freighter Calculator</span><span lang="zh" style="display: none;">偷运/强运/货舰计算器</span><span lang="jp" style="display: none;">輸送艦/フレイター輸送計算</span><span lang="da" style="display: none;">BR/DST/Freighter Lommeregner</span></a></li>
                    <li class='navLink'><a href="/custom"><span lang="en">Custom Request</span><span lang="zh" style="display: none;">定制服务</span><span lang="jp" style="display: none;">その他輸送先を指定</span><span lang="da" style="display: none;">Brugerdefineret anmodning</span></a></li>
                    <!--<li class='navLink'><a href="/pricing"><span lang="en">Pricing</span><span lang="zh">价格表</span><span lang="jp">料金表</span><span lang="da">Prissætning</span></a></li>-->
                    <li class='navLink'><a href="/#guide"><span lang="en">Guide</span><span lang="zh" style="display: none;">指南</span><span lang="jp" style="display: none;">ご利用方法</span><span lang="da" style="display: none;">Guide</span></a></li>
                    <li class='navLink'><a href='https://discord.gg/fQqCvHT' target="_blank"><span lang="en">Discord</span><span lang="zh" style="display: none;">Discord</span><span lang="jp" style="display: none;">ディスコード</span><span lang="da" style="display: none;">Discord</span></a></li>
                    <li class='navLink'><a
                            href='https://www.pandemic-horde.org/forum/index.php?threads/multi-lemm-logistics-jf-freighter-br-service-covering-tke-def-custom-routes.2872/'
                            target="_blank"><span lang="en">Forums</span><span lang="zh" style="display: none;">论坛</span><span lang="jp" style="display: none;">フォーラム</span><span lang="da" style="display: none;">Forums</span></a></li>
              <li class='navLink'>
                  <div class="dropdown">
                  <button class="dropbtn"><span lang="en">&#127468;&#127463;</span><span lang="zh">&#127464;&#127475;</span><span lang="ko">&#127472;&#127479;</span><span lang="jp">&#127471;&#127477;</span><span lang="da">&#127465;&#127472;</span><span lang="de">&#127465;&#127466;</span>
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a id="en" class="switch-lang">&#127468;&#127463;</a>
                    <a id="zh" class="switch-lang">&#127464;&#127475;</a>
                    <a id="jp" class="switch-lang">&#127471;&#127477;</a>
                    <!--<a id="ko" class="switch-lang">&#127472;&#127479;</a>-->
                    <a id="da" class="switch-lang">&#127465;&#127472;</a>
                    <!--<a id="de" class="switch-lang">&#127465;&#127466;</a>-->
                  </div>
                </div>
              </li>
              <li class='navLink'>
                  <div class="pretty p-icon p-toggle p-plain">
                  <input type="checkbox" id="darkToggle" onclick="themeToggle()" />
                  <div class="state p-off">
                    <i class="icon fa-solid fa-lightbulb"></i>
                    <label>&lrm;</label>
                  </div>
                  <div class="state p-on">
                    <i class="icon fa-regular fa-lightbulb"></i>
                    <label>&lrm;</label>
                  </div>
                </div>
          </ul>
          </div>
      </div>
  </header>
  <br>

    <% var current = new Date(); %>
    <div class="main">
      <br>
      <h2><span lang="en">Per Jump Pricing</span><span lang="zh" style="display: none;">每次跳跃定价</span><span lang="jp" style="display: none">1ジャンプあたりの料金</span><span lang="da" style="display: none">Pris pr. jump</span></h2>
          <table id="per-jump" class="table">
            <tr>
              <th></th>
              <th><span lang="en">Maximum Volume</span><span lang="zh" style="display: none;">最高体积</span><span lang="jp" style="display: none">最大積載量</span><span lang="da" style="display: none">Maksimal volumen</span></th>
              <th><span lang="en">Maximum Collateral</span><span lang="zh" style="display: none;">最高保证金</span><span lang="jp" style="display: none">最大担保金</span><span lang="da" style="display: none">Maksimal sikkerhedsbeløb</span></th>
              <th><span lang="en">High Sec: Price per Warp</span><span lang="zh" style="display: none;">高安：每跳价格</span><span lang="jp" style="display: none">ハイセク：1ワープあたりの料金</span><span lang="da" style="display: none">High Sec: Pris pr. Warp</span></th>
              <th><span lang="en">Low Sec: Price per Warp</span><span lang="zh" style="display: none;">低安：每跳价格</span><span lang="jp" style="display: none">ローセク：1ワープあたりの料金</span><span lang="da" style="display: none">Low Sec.: Pris pr. Warp</span></th>
              <th><span lang="en">Null Sec: Price per Warp</span><span lang="zh" style="display: none;">00：每跳价格</span><span lang="jp" style="display: none">ヌルセク：1ワープあたりの料金</span><span lang="da" style="display: none">Null Sec: Pris pr. Warp</span></th>
              <th><span lang="en">Rush Shipping Surcharge</span><span lang="zh" style="display: none;">加急运输附加费</span><span lang="jp" style="display: none">速達追加割合料金</span><span lang="da" style="display: none">Hasteforsendelse ekstragebyr</span></th>
              <th><span lang="en">Minimum Rush Shipping Price</span><span lang="zh" style="display: none;">最低加急运输价格</span><span lang="jp" style="display: none">最低速達料金</span><span lang="da" style="display: none">Minimum hasteforsendelsespris</span></th>
            <tr>
              <% services.forEach((service)=>{%>
              <tr>
                  <td><strong><%=service.name%></strong></td>
                  <%if(!service.runsIn.highsec && !service.runsIn.lowsec && !service.runsIn.nullsec){%>
                    <td>Not Available</td>
                    <%}
                    else {%>
                    <td><%=parseInt(service.maxVolume).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> m<sup>3</sup></td>
                  <%}%>
                  <%if(!service.runsIn.highsec && !service.runsIn.lowsec && !service.runsIn.nullsec){%>
                    <td>Not Available</td>
                    <%}
                    else {%>
                    <td><%=parseInt(service.maxCollateral).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK</td>
                  <%}%>
                  <%if(!service.runsIn.highsec){%>
                    <td>Not Available</td>
                    <%}
                    else {%>
                    <td><%=parseInt(service.highsecPrice).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK</td>
                  <%}%>
                  <%if(!service.runsIn.lowsec){%>
                    <td>Not Available</td>
                    <%}
                    else {%>
                    <td><%=parseInt(service.lowsecPrice).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK</td>
                  <%}%>
                  <%if(!service.runsIn.nullsec){%>
                    <td>Not Available</td>
                    <%}
                    else {%>
                    <td><%=parseInt(service.nullsecPrice).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK</td>
                  <%}%>
                  <%if(!service.isRush){%>
                    <td>Not Available</td>
                    <%}
                    else {%>
                    <td><%=(service.rushMultiplier -1)*100%>%</td>
                  <%}%>
                  <%if(!service.isRush){%>
                    <td>Not Available</td>
                    <%}
                    else {%>
                    <td><%=parseInt(service.minRushPrice).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK</td>
                  <%}%>
              </tr>
              <%})%>
            </tbody>
          </table>
          <br>
          <h2><span lang="en">Fixed BR/DST Prices</span><span lang="zh" style="display: none;">固定偷运/强运价格</span><span lang="jp" style="display: none">軽トラ/重トラ固定価格</span><span lang="da" style="display: none">Faste BR/DST priser</span></h2>
          <div  class="dataTables_wrapper container-fluid dt-bootstrap4" id="per-jump-overrides-wrapper" value="2">
              <table id="per-jump-overrides" class="table sortable dataTable">
                <thead>
                <tr>
                  <th><span lang="en">Ship Type</span><span lang="zh">船只种类</span><span lang="jp" style="display: none">艦種</span><span lang="da" style="display: none">Skibstype</span></th>
                  <th><span lang="en">From</span><span lang="zh">起点</span><span lang="jp" style="display: none">出発地</span><span lang="da" style="display: none">Fra</span></th>
                  <th> </th>
                  <th><span lang="en">To</span><span lang="zh">目的地</span><span lang="jp" style="display: none">目的地</span><span lang="da" style="display: none">Til</span></th>
                  <th><span lang="en">Volume Limit</span><span lang="zh">体积限制</span><span lang="jp" style="display: none">最大積載量</span><span lang="da" style="display: none">Volumengrænse</span></th>
                  <th><span lang="en">Collateral Limit</span><span lang="zh">保证金限制</span><span lang="jp" style="display: none">最大担保金</span><span lang="da" style="display: none">Sikkerhedsbeløb grænse</span></th>
                  <th><span lang="en">Route Pricing</span><span lang="zh">路线价格</span><span lang="jp" style="display: none">ルート料金</span><span lang="da" style="display: none">Rutepriser</span></th>
                  <th><span lang="en">Rush Shipping Surcharge</span><span lang="zh">加急运输附加费</span><span lang="jp" style="display: none">速達料金</span><span lang="da" style="display: none">Hasteforsendelse ekstragebyr</span></th>
                </tr>
                </thead>
                <tbody>
                  <% serviceOverrides.forEach((serviceoverrides)=>{%>
                  <tr>
                      <td><%=serviceoverrides.type%></td>
                      <td><%=serviceoverrides.start%></td>
                      <td>-></td>
                      <td><%=serviceoverrides.end%></td>
                      <td><%=parseInt(serviceoverrides.maxVolume).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> m<sup>3</sup></td>
                      <td><%=parseInt(serviceoverrides.maxCollateral).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK</td>
                      <td><%=parseInt(serviceoverrides.flatRate).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK Flat Rate</td>
                      <%if(!serviceoverrides.isRush){%>
                        <td>Not Available</td>
                        <%}
                        else {%>
                        <td><%=parseInt(serviceoverrides.maxCollateral).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK</td>
                      <%}%>
                  </tr>
                  <%})%>
                </tbody>
              </table>
            </div>
              <br>
      <h2><span lang="en">Jump Freighter Routes</span><span lang="zh" style="display: none;">跳货路线</span><span lang="jp" style="display: none">JFルート</span><span lang="da" style="display: none">Jump Freighter ruter</span></h2>
      <!-- add class p-switch -->
        <div class="pretty p-switch p-fill" style="float: right">
            <input type="checkbox" id="intraDrone" name="routeType" value="Intra-Drones"/>
              <div class="state p-success">
                  <label>Display Intra-Drones Routes</label>
              </div>
          </div>
          <div class="pretty p-switch p-fill" style="float: right">
              <input type="checkbox" id="standard" name="routeType" value="Standard"/>
                <div class="state p-success">
                    <label>Display Standard Routes</label>
                </div>
            </div>
        <div  class="dataTables_wrapper container-fluid dt-bootstrap4" id="jf-routes-wrapper" value="1">
            <table id="jf-routes" class="table sortable dataTable">
              <thead>
                <tr>
                    <th><span lang="en">From</span><span lang="zh" style="display: none;">起点</span><span lang="jp" style="display: none">出発地</span><span lang="da" style="display: none">Fra</span></th>
                    <th> </th>
                    <th><span lang="en">To</span><span lang="zh" style="display: none;">目的地</span><span lang="jp" style="display: none">目的地</span><span lang="da" style="display: none">Til</span></th>
                    <th><span lang="en">Volume Limit</span><span lang="zh" style="display: none;">体积限制</span><span lang="jp" style="display: none">最大積載量</span><span lang="da" style="display: none">Volumengrænse</span></th>
                    <th><span lang="en">Collateral Limit</span><span lang="zh" style="display: none;">保证金限制</span><span lang="jp" style="display: none">最大担保金</span><span lang="da" style="display: none">Sikkerhedsbeløb grænse</span></th>
                    <th><span lang="en">Route Pricing</span><span lang="zh" style="display: none;">路线价格</span><span lang="jp" style="display: none">ルート価格</span><span lang="da" style="display: none">Rutepriser</span></th>
                    <th><span lang="en">Collateral Charge</span><span lang="zh" style="display: none;">保证金费率</span><span lang="jp" style="display: none">担保追加割合料金</span><span lang="da" style="display: none">Sikkerhedsbeløb gebyr</span></th>
                    <th><span lang="en">Minimum Reward</span><span lang="zh" style="display: none;">最低奖励</span><span lang="jp" style="display: none">最低報酬</span><span lang="da" style="display: none">Minimumsbeløning</span></th>
                    <th><span lang="en">Rush Shipping</span><span lang="zh" style="display: none;">加急运输</span><span lang="jp" style="display: none">速達</span><span lang="da" style="display: none">Hasteforsendelse</span></th>
                    <th><span lang="en">Type</span><span lang="zh" style="display: none;">种类</span><span lang="jp" style="display: none">種類</span><span lang="da" style="display: none">Type</span></th>
                </tr>
              </thead>
              <tbody>
                <% routes.forEach((route)=>{%>
                <tr>
                    <td class="start"><%=route.start%></td>
                    <td>-></td>
                    <td><%=route.destination%></td>
                    <td><%=parseInt(route.maxVolume).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> m<sup>3</sup></td>
                    <td><%=parseInt(route.maxCollateral).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK</td>
                      <%if(!route.isFlat){%>
                  <td><%=parseInt(route.price).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK/m<sup>3</sup></td>
                  <%}
                  else {%>
                    <td><%=parseInt(route.flatPrice).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK Flat Fee</td>
                  <%}%>
                    <td><%=route.collateralMultiplier%> %</td>
                    <td><%=parseInt(route.minReward).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK</td>
                    <%if(route.isRush){%>
                    <td><%=parseInt(route.rushShippingCharge).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> ISK</td>
                    <%}
                    else {%>
                    <td>N/A</td>
                    <%}%>
                    <td><%=route.routeType%></td>
                </tr>
                <%})%>
              </tbody>
            </table>
        </div>


</body>

</html>
